<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    

.search-container {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #0A0A0A;
      border: 2px solid #313232;
      border-radius: 10px;
      padding: 10px;
      color: #fff;
      width: 390px;
      margin-top: 0px;
}

.search-icon {
      margin-right: 10px;
}

.search-input {
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 20px;
      width: 100%;
}

.search-btn {
      background-color: #313232;
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
}

.user-preview {
      display: flex;
      align-items: center;
      margin-top: 20px;
      /* border-bottom: 1.5px solid #323333 ; */
      margin-bottom: 10px;
      justify-content: space-between;
}

.user-img {
      border-radius: 0%;
      margin-right: 20px;
      padding: 0px;
      border: 2px solid white;
      width: 40px; /* Adjust the width to make the image smaller */
      height: 40px; /* Adjust the height accordingly */
      margin-left: 10px;
}

.user-img img{
      width: 100%;
      height: 100%;
}

.user-details {   
      color: #fff;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
}

.user-name {
      font-weight: bold;
}

.user-description {
      margin-top: 5px;
}

.followers {
      margin-top: 5px;
}

.follow-btn {
      background-color: #313232;
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 10px;
}

#searchInput {
      padding: 8px;
      border: none;
      background-color: transparent;
      color: #fff;
      font-size: 20px;
      width: 100%;
}

#searchResults {
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
}
.resultItem {
      cursor: pointer;
      padding: 5px;
      margin-bottom: 5px;
      border: none;
      background-color: #0A0A0A;
}
.logo-container {
      position: fixed;
      top: 20px;
      left: 10rem;
      z-index: 1000;
}
.logo {
      width: 40px; /* Adjust the width of the logo */
      height: 40px; /* Adjust the height of the logo */
}    
</style>
<div class="logo-container">
      <a href="/home">
            <object data="/svg/app-logo.svg" type="image/svg+xml"></object>
      </a>
</div>
</head>
<body>
<div class="logout-container">
      <a href="/login">
            <object style="pointer-events: none;" data="/svg/logout.svg" type="image/svg+xml"></object>
      </a>
</div>
  <header class="header">
    <nav class="header__nav">
        <ul>
            <li>
                  <a href="/home">
                    <object style="pointer-events: none;" data="/svg/home-icon.svg" type="image/svg+xml"></object>
                  </a>           
                  <a href="/search">
                    <object style="pointer-events: none;" data="/svg/search-icon.svg" type="image/svg+xml"></object>
                  </a>
  
                  <a id="msg-icon" href="/message">
                    <object style="pointer-events: none;" data="/svg/message-icon.svg" type="image/svg+xml"></object>
                  </a>
  
                  <a href="/notification">
                    <object style="pointer-events: none;" data="/svg/notif-icon.svg" type="image/svg+xml"></object>
                  </a>
                  
                  <a href="/profile">
                    <object style="pointer-events: none;" data="/svg/profile-icon.svg" type="image/svg+xml"></object>
                  </a>
                </li>
        </ul>
    </nav>
</header>
<div class="below-header">
      <div style="display:flex; width:100%; justify-content: center;align-items:center;">
            <div class="search-container">
                  <div class="search-icon">
                        <object style="pointer-events: none; opacity: 0.3;" data="/svg/search-icon.svg" type="image/svg+xml"></object>
                  </div>
                  <input type="text" id="searchInput" placeholder="Search...">
                  <button class="search-btn">Search</button>
            </div>      
      </div>
      
        <div id="searchResults"></div>
        <script src="/js/search.js"></script>
</div>
</body>
</html>


